__pycache__/
*.pyc
*.pyo
*.pyd
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
ENV/
.venv/
.env/
.env.*
.env

#fastapi_env/
instance/
.webassets-cache

.log
temp/
tmp/

#frontend
node_modules/
dist/
package-lock.json
yarn.lock
public/